<header>
    <h2>{{name}}</h2>
    {{#if images.length}}
        <button class="sg-button-pill" data-buttons-toggle></button>
    {{/if}}
</header>
{{#if documentation.html}}
    <div class="sg-design-ui-documentation">
        {{{documentation.html}}}
    </div>
{{/if}}
<div class="sg-design-ui-buttons" data-buttons>
    {{#each images}}
        <button value='{{#stringify this}}{{/stringify}}'>
            <span class="sg-design-ui-button-width" style="width: {{this.width}}px"></span>
            <span class="sg-design-ui-button-label">{{this.label}}</span>
        </button>
    {{/each}}
</div>
