<div>
    <div class="opacity-slider">
        <button data-image-opacity value="0">Iframe</button>
        <input type="range" min="0" max="100" data-image-opacity value="{{opacity}}">
        <button data-image-opacity value="100">Image</button>
    </div>
    <iframe></iframe>
    <img />
</div>
