<section class="sg-layout">
    <header class="sg-layout-header">
        <h1>{{{heading}}}</h1>
        <button class="sg-button-pill" data-sg-layout-toggle-nav></button>
    </header>
    <nav data-sg-layout-nav></nav>
    <div data-sg-layout-components></div>
</section>