@import "icons/flaticon";
@import "github-markdown.scss"; // Copy of node_modules/github-markdown-css


$sg-color-primary: #888 !default;
$sg-color-primary-contrast: #666 !default;
$sg-color-secondary: #fafafa !default;
$sg-gutter: 20px !default;
$sg-font-size: 14px !default;
$sg-font-family: arial, helvetica, clean, sans-serif !default;
$sg-z-index-start: 9999;

@mixin sg-box-sizing {
  &, &:before, &:after {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }
}

@mixin sg-button-reset {
  @include sg-box-sizing;
  background: none;
  border: none;
  text-transform: uppercase;
  font-family: $sg-font-family;
  font-size: $sg-font-size;
  cursor: pointer;
  border-radius: 0;
}

@mixin sg-button-with-states {
  @include sg-button-reset;
  transition: box-shadow .5s;

  &:hover {
    box-shadow: 0 0 10px rgba(black, .5);
  }

  &:active {
    box-shadow: 0 0 20px rgba(black, .5);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(black, .5);
  }
}

@mixin sg-font {
  font-family: $sg-font-family;
  font-size: $sg-font-size;
  font-weight: normal;
}

.sg-button-pill {
  @include sg-button-with-states;
  width: $sg-gutter*2;
  height: $sg-gutter*2;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(black, .5);
}

.sg-layout {
  // Css here will leak into the element
}

.sg-header {
  @include sg-box-sizing;
  @include sg-font;
  overflow: hidden;
  padding-top: $sg-gutter;
  padding-bottom: $sg-gutter;

  h1 {
    float: left;
    width: 30%;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-family: $sg-font-family;
  }

  .sg-primary-nav {
    float: left;
  }

  .sg-button-pill {
    @include icon(flaticon-menu55);
    position: fixed;
    top: $sg-gutter;
    right: $sg-gutter;
    z-index: $sg-z-index-start + 1;
  }
}

.sg-component {
  // Css here will leak into the element
  border-top: solid 1px #eee;
}

.sg-category-documentation {
  margin-bottom: $sg-gutter;
}

//
// Navigation
//

.sg-component-nav,
.sg-primary-nav {
  @include sg-box-sizing;
  @include sg-font;
  background-color: #fff;
  text-transform: uppercase;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding: 0;
    margin: 0;
    color: $sg-color-primary;
    border-bottom: solid 1px transparent;

    &.selected {
      color: black;
      border-bottom-color: $sg-color-primary;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.sg-primary-nav {
  padding-top: 10px;

  li {
    display: inline-block;
    margin-right: $sg-gutter;
  }
}

.sg-component-nav {
  position: fixed;
  z-index: $sg-z-index-start;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  padding: $sg-gutter ($sg-gutter*4) $sg-gutter ($sg-gutter*2);
  box-shadow: 0 0 10px rgba(black, .5);
  overflow: auto;
  transform: translateX(100%);
  transition: transform .5s;

  li {
    margin-bottom: $sg-gutter/2;
  }

  &.on {
    transform: translateX(0);
  }
}

.sg-design-ui {
  all: unset;
  @include sg-box-sizing;
  background-color: $sg-color-secondary;
  overflow: hidden;

  header {
    overflow: hidden;
    position: relative;
    padding: $sg-gutter/2;
    border-bottom: solid 1px rgba(white, .25);
    min-height: 65px;
    background-color: $sg-color-secondary;

    > h2 {
      @include sg-font;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0;
      color: $sg-color-primary-contrast;
      text-transform: uppercase;
    }

    > .sg-button-pill {
      float: right;
      padding-top: 5px;
      @include icon(flaticon-downwards);
    }
  }

  .sg-design-ui-documentation {
    border-top: solid 1px $sg-color-primary;
    padding: $sg-gutter;
  }

  .sg-design-ui-buttons {
    max-height: 0;
    transition: all .5s;
    overflow: hidden;
    padding-top: 0;
    background-color: #444;

    button {
      @include sg-button-with-states;
      position: relative;
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      background-color: rgba($sg-color-primary, .1);
      color: #fff;
      margin-bottom: 1px;
      padding: ($sg-gutter/2) ($sg-gutter*2);
      transition: box-shadow .5s;
      box-shadow: 0 0 0 rgba(black, 0);

      .sg-design-ui-button-label {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        font-size: 10px;
      }

      .sg-design-ui-button-width {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        transform: translateX(-50%);
        background-color: rgba($sg-color-primary, .5);
      }

      &.on {
        .sg-design-ui-button-width{
          background-color: $sg-color-primary;
        }
      }
    }

    &.on {
      max-height: 200px;
      padding-top: 1px;
    }
  }
}

.sg-design-comparator {
  position: relative;
  height: 0;
  padding-left: $sg-gutter/2;
  padding-right: $sg-gutter/2;
  overflow: hidden;
  transition: all .5s;
  background-color: #333;
  color: #fff;
  box-shadow: inset 0 -2.5px 10px rgba(0,0,0,.5);

  label {
    @include sg-font;
    color: $sg-color-primary-contrast;
    text-transform: uppercase;
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: 160px;
    height: 20px;
    background: linear-gradient(to right, #fff 0%, #fff 100%);
    background-size: 150px 10px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    &::-webkit-slider-thumb{
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: $sg-color-primary;
      position: relative;
      z-index: 3;
      transition: box-shadow .5s;
      box-shadow: 0 0 5px 0 rgba(black, .25);
    }

    &::-webkit-slider-thumb:after{
      content:" ";
      width:160px;
      height:10px;
      position:absolute;
      z-index:1;
      right:20px;
      top:5px;
      background: $sg-color-primary;
      background: linear-gradient(to right, $sg-color-primary-contrast 1%, $sg-color-primary-contrast 70%);
    }

    &:focus {
      outline: none;

      &::-webkit-slider-thumb{
        box-shadow: 0 0 10px 0 rgba(black, .75);
      }
    }
  }

  .opacity-slider {
    position: absolute;
    z-index: 0;
    right: 0;
    top: -$sg-gutter*2;
    left: 0;
    text-align: center;
    transition: top .5s;

    button {
      @include sg-button-with-states;
      position: relative;
      top: -5px;
      padding: ($sg-gutter/4) ($sg-gutter/2);
      display: inline-block;
      color: inherit;
    }

    input[type="range"]{
      margin: 0 $sg-gutter;
    }
  }

  iframe,
  img {
    position: absolute;
    bottom: $sg-gutter/2;
    left: 50%;
    transform: translateX(-50%);
  }

  iframe {
    border: none 0;
    transition: width .5s, height .5s;
  }

  img {
    max-width: none;
    max-height: none;
    min-width: 0;
    min-height: 0;
    pointer-events: none;
  }

  // States

  &.on {
    padding-top: $sg-gutter/2;
    padding-bottom: $sg-gutter*2;

    .opacity-slider {
      top: $sg-gutter/2;
    }
  }
}